In [68]:
import pandas as pd

In [69]:
s

NameError: name 's' is not defined

In [7]:
cs1 = pd.read_csv("csrankings-1.csv")
cs1

,name,affiliation,homepage,scholarid
0,Benoît Libert,Ecole Normale Superieure de Lyon,http://perso.ens-lyon.fr/benoit.libert,kRpKU4IAAAAJ
1,Bent Thomsen,Aalborg University,http://people.cs.aau.dk/~bt,mhyMmZoAAAAJ
2,Benyuan Liu,University of Massachusetts Lowell,http://www.cs.uml.edu/~bliu,s2n1-HMAAAAJ
3,Berk Burak Ustundag,Istanbul Technical University,http://akademi.itu.edu.tr/bustundag,JJY3eIEAAAAJ
4,Berk Canberk,Istanbul Technical University,http://bcrg.itu.edu.tr,q3ueClIAAAAJ
...,...,...,...,...
2202,David Jao,University of Waterloo,https://djao.math.uwaterloo.ca,uj3Xx8IAAAAJ
2203,David John Hawkes,University College London,http://cmic.cs.ucl.ac.uk/staff/dave_hawkes,O42T24CT_GwC
2204,David Jones,University College London,http://www.cs.ucl.ac.uk/staff/D.Jones,yRb0DnQAAAAJ
2205,David Juedes,Ohio University,http://oucsace.cs.ohiou.edu/~juedes,eTFiw7wAAAAJ
2206,David Jurgens,University of Michigan,https://www.si.umich.edu/node/15080,sGFFr5kAAAAJ

In [8]:
cs2 = pd.read_csv("csrankings-2.csv")
cs2

,name,affiliation,homepage,scholarid
0,David K. Duvenaud,University of Toronto,http://www.cs.toronto.edu/~duvenaud,ZLpO3XQAAAAJ
1,David K. Gifford,Massachusetts Institute of Technology,http://cgs.csail.mit.edu,NOSCHOLARPAGE
2,David K. Lowenthal,University of Arizona,https://www.cs.arizona.edu/~dkl,mhKUSRMAAAAJ
3,David K. McGookin,Aalto University,https://people.aalto.fi/new/david.mcgookin,g77JWrQAAAAJ
4,David K. Probst,Concordia University,http://www.concordia.ca/faculty/david-probst.html,LDX2HjEAAAAJ
...,...,...,...,...
4419,Gert Smolka,Saarland University,http://www.ps.uni-saarland.de/~smolka,cePtsyAAAAAJ
4420,Gerth Stølting Brodal,Aarhus University,http://cs.au.dk/~gerth,NOSCHOLARPAGE
4421,Gerti Kappel,TU Wien,https://www.big.tuwien.ac.at/people/gkappel,Rdz0vc8AAAAJ
4422,Gertjan van Noord,University of Groningen,http://www.let.rug.nl/vannoord,dgU9Yq0AAAAJ
4423,Gethin Norman,University of Glasgow,http://www.dcs.gla.ac.uk/people/personal/gethin,H3nOlXsAAAAJ

In [9]:
cs3 = pd.read_csv("csrankings-3.csv")
cs3

,name,affiliation,homepage,scholarid
0,Geunbae Lee,POSTECH,http://nlp.postech.ac.kr/~gblee,t30saScAAAAJ
1,Gevorg Grigoryan,Dartmouth College,http://dartmouth.edu/faculty-directory/gevorg-...,hJuusUEAAAAJ
2,Geyong Min,University of Exeter,http://emps.exeter.ac.uk/computer-science/staf...,OKpejRIAAAAJ
3,Ghadah Aldabbagh,King Abdulaziz University,http://www.kau.edu.sa/CVEn.aspx?Site_ID=000314...,mZkyspYAAAAJ
4,Ghassan Hamarneh,Simon Fraser University,http://www.cs.sfu.ca/~hamarneh,61DdlkAAAAAJ
...,...,...,...,...
2204,Jeffrey C. Dill,Ohio University,https://www.ohio.edu/engineering/about/people/...,NOSCHOLARPAGE
2205,Jeffrey C. Trinkle,Lehigh University,http://www.cse.lehigh.edu/~trink/,Dl0vAp8AAAAJ
2206,Jeff Trinkle,Lehigh University,http://www.cse.lehigh.edu/~trink/,Dl0vAp8AAAAJ
2207,Jeffrey Carver,The University of Alabama,http://carver.cs.ua.edu,qGe7nJ0AAAAJ
2208,Jeffrey Chan,RMIT University,https://www.rmit.edu.au/contact/staff-contacts...,I9mDeiYAAAAJ

In [10]:
cs4 = pd.read_csv("csrankings-4.csv")
cs4

,name,affiliation,homepage,scholarid
0,Jeffrey Dalton 0001,University of Glasgow,https://www.gla.ac.uk/schools/computing/staff/...,mgwLi-EAAAAJ
1,Jeffrey E. Boyd,University of Calgary,http://pages.cpsc.ucalgary.ca/~boyd,C285XCoAAAAJ
2,Jeffrey Flanigan,Univ. of California - Santa Cruz,https://jflanigan.github.io,XpIsORcAAAAJ
3,Jeffrey G. Gray,The University of Alabama,http://gray.cs.ua.edu,83an8lYAAAAJ
4,Jeffrey H. Dinitz,University of Vermont,http://www.emba.uvm.edu/~dinitz,w9u7g3MAAAAJ
...,...,...,...,...
2206,Kwoh Chee Keong,Nanyang Technological University,http://www.ntu.edu.sg/home/asckkwoh,jVn0wDMAAAAJ
2207,Kwok-Ping Chan,University of Hong Kong,https://i.cs.hku.hk/~kpchan,oas17QIAAAAJ
2208,Kwok-Wai Cheung 0001,Hong Kong Baptist University,http://www.comp.hkbu.edu.hk/~william,e42JkYIAAAAJ
2209,Kwok-Wai Hung,Shenzhen University,http://www.escience.cn/people/kwhung/index.html,61DydQUAAAAJ
2210,Kwok-Yan Lam,Nanyang Technological University,http://research.ntu.edu.sg/expertise/academicp...,NOSCHOLARPAGE

In [11]:
cs5 = pd.read_csv("csrankings-5.csv")
cs5

,name,affiliation,homepage,scholarid
0,Kwong-Sak Leung,Chinese University of Hong Kong,http://www.cs.cuhk.edu.hk/~ksleung,x--r9cIAAAAJ
1,Kyla A. McMullen,University of Florida,https://www.cise.ufl.edu/people/faculty/kyla,DzvXnyoAAAAJ
2,Kyle C. Hale,Illinois Institute of Technology,https://science.iit.edu/people/faculty/kyle-hale,zYAOJqwAAAAJ
3,Kyle Fox,University of Texas at Dallas,http://utdallas.edu/~kyle.fox,7TKz5UgAAAAJ
4,Kyle Jamieson,Princeton University,https://www.cs.princeton.edu/~kylej,NOSCHOLARPAGE
...,...,...,...,...
2212,Michael Lewis,University of Pittsburgh,http://www.pitt.edu/~cmlewis,BBS25qkAAAAJ
2213,Michael Lindenbaum,Technion,http://www.cs.technion.ac.il/~mic,NOSCHOLARPAGE
2214,Michael Luck,King's College London,https://www.kcl.ac.uk/people/professor-michael...,mKVcy8sAAAAJ
2215,Michael Lustig,Univ. of California - Berkeley,https://www2.eecs.berkeley.edu/Faculty/Homepag...,EWY1qlkAAAAJ
2216,Michael M. Kazhdan,Johns Hopkins University,http://www.cs.jhu.edu/~misha,soUq_eQAAAAJ

In [12]:
cs6 = pd.read_csv("csrankings-6.csv")
cs6

,name,affiliation,homepage,scholarid
0,Michael M. Mitzenmacher,Harvard University,http://www.eecs.harvard.edu/~michaelm,e8aRmAsAAAAJ
1,Michael M. Swift,University of Wisconsin - Madison,http://pages.cs.wisc.edu/~swift,pqIGLH4AAAAJ
2,Michael Maire,University of Chicago,http://ttic.uchicago.edu/~mmaire,HXowq5YAAAAJ
3,Michael Mandel,CUNY,http://www.brooklyn.cuny.edu/web/academics/fac...,0v1-axgAAAAJ
4,Michael Mangan,University of Sheffield,https://www.sheffield.ac.uk/dcs/people/academi...,VeeNOGgAAAAJ
...,...,...,...,...
2204,Philip J. Hatcher,University of New Hampshire,http://www.cs.unh.edu/~pjh,Dd2SKGAAAAAJ
2205,Philip Jia Guo,Univ. of California - San Diego,http://pgbovine.net,CKXeqHoAAAAJ
2206,Philip K. McKinley,Michigan State University,http://www.cse.msu.edu/~mckinley,70oIOKIAAAAJ
2207,Philip Levis,Stanford University,http://csl.stanford.edu/~pal,I_YsXU4AAAAJ
2208,Philip M. Johnson,University of Hawaii at Manoa,http://philipmjohnson.org,D37QzE4AAAAJ

In [13]:
cs7 = pd.read_csv("csrankings-7.csv")
cs7

,name,affiliation,homepage,scholarid
0,Philip N. Brown,UCCS,http://cs.uccs.edu/~pbrown2/index.html,3vqqlMwAAAAJ
1,Philip N. Klein,Brown University,http://cs.brown.edu/~pnk,gVUD47sAAAAJ
2,Philip O'Kane,Queen's University Belfast,https://www.qub.ac.uk/schools/eeecs/Connect/St...,NOSCHOLARPAGE
3,Philip Resnik,University of Maryland - College Park,http://www.umiacs.umd.edu/~resnik,71BFWc0AAAAJ
4,Philip S. Thomas,University of Massachusetts Amherst,http://psthomas.com,kkqXAnUAAAAJ
...,...,...,...,...
2200,Seungyong Lee 0001,POSTECH,http://cg.postech.ac.kr/publications,yGPH-nAAAAAJ
2201,Sevag Gharibian,Virginia Commonwealth University,http://www.people.vcu.edu/~sgharibian,k5G1dE0AAAAJ
2202,Sevil Sen,Hacettepe University,https://web.cs.hacettepe.edu.tr/~ssen,Wqy6xC8AAAAJ
2203,Sewoong Oh,University of Washington,http://swoh.web.engr.illinois.edu,55TAOdgAAAAJ
2204,Seyda Ertekin,Middle East Technical University,http://web.mit.edu/seyda/www,8KrHjE0AAAAJ

In [14]:
cs8 = pd.read_csv("csrankings-8.csv")
cs8

,name,affiliation,homepage,scholarid
0,Seyed Abolfazl Motahari,Sharif University of Technology,http://ce.sharif.edu/faculty/abolfazl-motahari,rJ-biB0AAAAJ
1,Seyed Ebrahim Abtahi,Sharif University of Technology,http://sharif.edu/~abtahi,NOSCHOLARPAGE
2,Seyed Ghassem Miremadi,Sharif University of Technology,http://sina.sharif.ac.ir/~miremadi,LjQ5PFYAAAAJ
3,Seyed Hamed Hassani,University of Pennsylvania,https://www.seas.upenn.edu/~hassani,NOSCHOLARPAGE
4,Seyed Hassan Mirian,Sharif University of Technology,http://ce.sharif.edu/~mirian,NOSCHOLARPAGE
...,...,...,...,...
2193,Ulrich Schmid 0001,TU Wien,https://ti.tuwien.ac.at/ecs/people/schmid,NOSCHOLARPAGE
2194,Ulrich Sorger,University of Luxembourg,http://wwwen.uni.lu/recherche/fstc/computer_sc...,NOSCHOLARPAGE
2195,Ulrich Speidel,University of Auckland,http://www.tcs.auckland.ac.nz/~ulrich,NOSCHOLARPAGE
2196,Ulrik Larsen,Aalborg University,http://ulrik.blog.aau.dk,Z3FXuI0AAAAJ
2197,Ulrik Nyman,Aalborg University,http://ulrik.blog.aau.dk,Z3FXuI0AAAAJ

In [15]:
cs9 = pd.read_csv("csrankings-9.csv")
cs9

,name,affiliation,homepage,scholarid
0,Ulrik Schroeder,RWTH Aachen,http://learntech.rwth-aachen.de/schroeder,8EYyC1MAAAAJ
1,Ulrike Lechner,Bundeswehr University Munich,https://www.unibw.de/wirtschaftsinformatik,OzCAdaMAAAAJ
2,Ulrike Lucke,University of Potsdam,https://www.uni-potsdam.de/de/multimedia/team/...,NOSCHOLARPAGE
3,Ulrike Meyer,RWTH Aachen,https://itsec.rwth-aachen.de/people/prof.-dr.-...,y9RHiq0AAAAJ
4,Ulrike Sattler,University of Manchester,http://www.cs.man.ac.uk/~sattler,NOSCHOLARPAGE
...,...,...,...,...
2216,Óscar Cánovas Reverte,University of Murcia,http://webs.um.es/ocanovas/miwiki/doku.php,iAPkCb8AAAAJ
2217,Özcan Özturk 0001,Bilkent University,http://www.cs.bilkent.edu.tr/~ozturk,YZQ0KIcAAAAJ
2218,Öznur Tastan,Sabancı University,http://people.sabanciuniv.edu/otastan,8ljjXmEAAAAJ
2219,Öznur Özkasap,Koç University,http://home.ku.edu.tr/~oozkasap,v2WiJeIAAAAJ
2220,Ümit V. Çatalyürek,Georgia Institute of Technology,https://www.cc.gatech.edu/~umit,OLDMURQAAAAJ

In [16]:
cs = pd.read_csv("csrankings.csv")
cs

,name,affiliation,homepage,scholarid
0,A Min Tjoa,TU Wien,http://www.ifs.tuwien.ac.at/tjoa,x8qCMhcAAAAJ
1,A. Aldo Faisal,Imperial College London,https://www.imperial.ac.uk/people/a.faisal,WjHjbrwAAAAJ
2,A. Antony Franklin,IIT Hyderabad,http://www.iith.ac.in/~antony/index.html,LVfqLuoAAAAJ
3,A. B. M. Alim Al Islam,BUET,https://sites.google.com/site/abmalimalislam,K-AIPzQAAAAJ
4,A. C. Cem Say,Boğaziçi University,https://www.cmpe.boun.edu.tr/~say,rOum2XsAAAAJ
...,...,...,...,...
24323,Óscar Cánovas Reverte,University of Murcia,http://webs.um.es/ocanovas/miwiki/doku.php,iAPkCb8AAAAJ
24324,Özcan Özturk 0001,Bilkent University,http://www.cs.bilkent.edu.tr/~ozturk,YZQ0KIcAAAAJ
24325,Öznur Tastan,Sabancı University,http://people.sabanciuniv.edu/otastan,8ljjXmEAAAAJ
24326,Öznur Özkasap,Koç University,http://home.ku.edu.tr/~oozkasap,v2WiJeIAAAAJ
24327,Ümit V. Çatalyürek,Georgia Institute of Technology,https://www.cc.gatech.edu/~umit,OLDMURQAAAAJ

In [64]:
from scholarly import scholarly

cs['citedby'] = None
cs['Research Interests'] = None

for i in range(24328):
    author = scholarly.search_author_id(cs['scholarid'][i])
    cs['citedby'][i] = author['citedby']
    cs['Research Interests'][i] = author['interests']

MaxTriesExceededException: Cannot Fetch from Google Scholar.

In [65]:
cs

,name,affiliation,homepage,scholarid,citedby,Research Interests
0,A Min Tjoa,TU Wien,http://www.ifs.tuwien.ac.at/tjoa,x8qCMhcAAAAJ,5675,"[Databases, Security, Semantic Web, Risk Analy..."
1,A. Aldo Faisal,Imperial College London,https://www.imperial.ac.uk/people/a.faisal,WjHjbrwAAAAJ,5194,"[AI for Healthcare, Reinforcement Learning, Ne..."
2,A. Antony Franklin,IIT Hyderabad,http://www.iith.ac.in/~antony/index.html,LVfqLuoAAAAJ,None,None
3,A. B. M. Alim Al Islam,BUET,https://sites.google.com/site/abmalimalislam,K-AIPzQAAAAJ,None,None
4,A. C. Cem Say,Boğaziçi University,https://www.cmpe.boun.edu.tr/~say,rOum2XsAAAAJ,None,None
...,...,...,...,...,...,...
24323,Óscar Cánovas Reverte,University of Murcia,http://webs.um.es/ocanovas/miwiki/doku.php,iAPkCb8AAAAJ,None,None
24324,Özcan Özturk 0001,Bilkent University,http://www.cs.bilkent.edu.tr/~ozturk,YZQ0KIcAAAAJ,None,None
24325,Öznur Tastan,Sabancı University,http://people.sabanciuniv.edu/otastan,8ljjXmEAAAAJ,None,None
24326,Öznur Özkasap,Koç University,http://home.ku.edu.tr/~oozkasap,v2WiJeIAAAAJ,None,None
24327,Ümit V. Çatalyürek,Georgia Institute of Technology,https://www.cc.gatech.edu/~umit,OLDMURQAAAAJ,None,None